<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new user</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Create new user</h1>
    <form action="/users/new" method="post">
        <input name="username" type="username" placeholder="enter your username" class="general"><br><br>
        <input name="email" type="email" placeholder="enter your email" class="general"><br><br>
        <input type="password" name="password" placeholder="enter your password" class="general"><br><br>
        <button class="button-86" role="button">CREATE</button>
    </form>
</body>
</html>