<%- include("include/head.ejs") %>
<body>
    <h1>This is home page.</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In asperiores veritatis aspernatur atque eum. Corrupti molestias magni eius id tempora atque nam maiores possimus quia, veritatis sit aliquid sapiente sint.</p>
    <button>click me</button>
</body>
</html>