<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Chats</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Chat conversation</h1>

    <% for(chat of chats){ %>
        <div class="chats">
            <p>From: <i><%= chat.from %></i></p>
            <div class="msg">
                <p><%= chat.msg %></p>
            </div>
            <p>Received by <i><%= chat.to %></i></p>
            <hr>
        </div>
        <br><br>
    <% } %>
</body>
</html>
