<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Create new form</h1>
    <form method="post" action="/posts">
        <input placeholder="enter your username" type="text" name="username" id="username"><br><br>
        <textarea placeholder="write your post" name="content" id="content" cols="30" rows="10"></textarea><br><br>
        <button>submit</button>
    </form>
</body>
</html>