<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Your Content</h1>
    <div class="container">
        <h3>ID: <%= post.id %></h3>
        <h1 class="username">@<%= post.username %></h1>
        <p class="content"><%= post.content %></p>
    </div>
</body>
</html>